{% extends 'csv/layout.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block body %}
    <section id="services" class="features-area">
        <div class="container py-2">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-10">
                        <h3 class="title">Servicios Disponibles</h3>
                        <p class="text">¡Lleva tu negocio al próximo nivel!</p>
                    </div> <!-- row -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="features-title-icon d-flex justify-content-between">
                            <h4 class="features-title"><a href="#">Análisis de Datos en Tiempo Real</a></h4>
                            <div class="features-icon">
                                <i class="lni lni-brush"></i>
                            </div>
                        </div>
                        <div class="features-content">
                            <p class="text">Tus registros de ventas son información valiosa. Con el apoyo de técnicas de
                                Minería de Datos, encuentra los patrones y tendencias útiles.</p>
                            <a class="features-btn" href="#">VER MÁS</a>
                        </div>
                    </div> <!-- single features -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="features-title-icon d-flex justify-content-between">
                            <h4 class="features-title"><a href="#">Interacción Intuitiva</a></h4>
                            <div class="features-icon">
                                <i class="lni lni-layout"></i>
                            </div>
                        </div>
                        <div class="features-content">
                            <p class="text">Adjunta tu archivo de ventas en formato .csv y como respuesta obtendrás un
                                análisis que te ayudará en tu proceso de toma de decisiones para impulsar tu negocio.
                            </p>
                            <a class="features-btn" href="#">VER MÁS</a>
                        </div>
                    </div> <!-- single features -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="features-title-icon d-flex justify-content-between">
                            <h4 class="features-title"><a href="#">Fácil Interpretación</a></h4>
                            <div class="features-icon">
                                <i class="lni lni-bolt"></i>
                            </div>
                        </div>
                        <div class="features-content">
                            <p class="text">Por medio de una serie de gráficos,
                                podrás ver de forma clara y sencilla, áreas de oportunidad en tu negocio.</p>
                            <a class="features-btn" href="#">VER MÁS</a>
                        </div>
                    </div> <!-- single features -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    <br>
    <br>
    <section id="pricing" class="pricing-area ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-25">
                        <h3 class="title">Venta del Servicio</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style mt-30">
                        <div class="pricing-icon text-center">
                            <br>
                        </div>
                        <div class="pricing-header text-center">
                            <h5 class="sub-title">Prueba gratuita</h5>
                        </div>
                        <div class="pricing-list">
                            <ul>
                                <li><i class="lni lni-check-mark-circle"></i> Funcionalidades Limitadas.</li>
                                <li><i class="lni lni-check-mark-circle"></i> Anuncios.</li>
                            </ul>
                        </div>
                    </div> <!-- pricing style one -->
                </div>

                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style mt-30">
                        <div class="pricing-icon text-center">
                            <br>
                        </div>
                        <div class="pricing-header text-center">
                            <h5 class="sub-title">Servicio de Pago</h5>
                            <p class="month"><span class="price">$ 1260</span>/mes</p>
                        </div>
                        <div class="pricing-list">
                            <ul>
                                <li><i class="lni lni-check-mark-circle"></i>Pago inicial y posteriormente el pago de
                                    una renta anual.</li>
                                <li><i class="lni lni-check-mark-circle"></i>Sin funciones limitadas.</li>
                                <li><i class="lni lni-check-mark-circle"></i>Con opción a máximo 10 predicciones al año.
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-btn rounded-buttons text-center">
                        </div>
                    </div> <!-- pricing style one -->
                </div>

                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style mt-30">
                        <div class="pricing-icon text-center">
                            <br>
                        </div>
                        <div class="pricing-header text-center">
                            <h5 class="sub-title">Servicio Premium</h5>
                            <p class="month"><span class="price">$ 2516</span>/mes</p>
                        </div>
                        <div class="pricing-list">
                            <ul>
                                <li><i class="lni lni-check-mark-circle"></i> Con un pago inicial y posteriormente el
                                    pago de una renta anual a un mayor precio.</li>
                                <li><i class="lni lni-check-mark-circle"></i> Servicios ilimitados.</li>
                                <li><i class="lni lni-check-mark-circle"></i> Acceso a opciones experimentales o futuras
                                    mejoras.</li>
                            </ul>
                        </div>
                        <div class="pricing-btn rounded-buttons text-center">
                        </div>
                    </div> <!-- pricing style one -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    {% endblock %}
</body>

</html>