{% extends 'csv/layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block body %}
    <div class="container py-4">
        <a href="{% url 'csv:crearRegistro' %}" class="btn btn-success">Añadir Registro <img
                src="{% static 'images/nuevoRegistro.png' %}" width="30" height="30" /></a>
    </div>
    <div class="container py-2">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            {% if request.user.is_superuser %}
                            <th>#</th>
                            <th>Usuario</th>
                            {% endif %}
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Fecha de Creación</th>
                            <th>Ver</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for csv in lista_registro %}
                        <tr>
                            {% if request.user.is_superuser %}
                            <td>{{ csv.id }}</td>
                            <td>{{ csv.user }}</td>
                            {% endif %}
                            <td>{{ csv.nombre_registro }}</td>
                            <td>{{ csv.descripcion_registro }}</td>
                            <td>{{ csv.fechaCreacion }}</td>
                            <td><a href="{% url 'csv:detalleRegistro' csv.id %}" class="btn btn-success">
                                    <img src="{% static 'images/ver.png' %}" width="30" height="30" /></td></a>
                            <td><a href="{% url 'csv:editarRegistro' csv.id %}" class="btn btn-warning"><img
                                        src="{% static 'images/EditarRegistro.png' %}" width="30" height="30" /></a>
                            </td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger" name="csv-id" value="{{csv.id}}"><img
                                            src="{% static 'images/eliminar.png' %}" width="30" height="30" /></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>