{% extends 'csv/layout.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block body %}
    <div class="container py-2">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Usuario</th>
                            <th>Ver Usuario</th>
                            <th>Editar Permiso</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in lista_usuario %}
                        <tr>
                            <td>{{ usuario.id }}</td>
                            <td>{{ usuario.username }}</td>
                            <td><a href="{% url 'usuarios:verUsuario' usuario.id %}" class="btn btn-success">Ver</a>
                            </td>
                            <td><a href="{% url 'usuarios:editarUsuario' usuario.id %}"
                                    class="btn btn-warning">Editar</a></td>
                            <td><a href="#" class="btn btn-warning">Eliminar</a></td>
                            <td>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>