{% extends 'usuarios/layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'csv/login.css' %}">
    <title>Document</title>
</head>

<body>
    {% block body %}
    <div class="container text-center py-4" style="width: 28rem;">
        <div class="card">
            <div class="card-header">
                <h2>Inicio de Sesión</h2>
            </div>
            <div class="card-body">
                <div class="form">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <h4>Nombre de Usuario</h4>
                            <br>
                            {{ form.username }}
                        </div>
                        <br>
                        <div class="form-group">
                            <h4>Contraseña</h4>
                            <br>
                            {{ form.password }}
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url 'register' %}">Registrarse</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        {% endblock %}
</body>

</html>