{% extends 'csv/layout.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Usuario</title>
</head>

<body>
    {% block body %}
    <div class="container py-4">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Nombre de Usuario</label>
                    <div class="col-sm-4">
                        {{ usuario.username }}
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Nombre</label>
                    <div class="col-sm-4">
                        {{ usuario.first_name }}
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Apellido</label>
                    <div class="col-sm-4">
                        {{ usuario.last_name }}
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Correo electrónico</label>
                    <div class="col-sm-4">
                        {{ usuario.email }}
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Permiso</label>
                    <div class="col-sm-4">
                        {% if permisoUsuario.tipoPermiso == 1 %}
                        Prueba gratuita
                        {% endif %}
                        {% if permisoUsuario.tipoPermiso == 2 %}
                        Prueba Standar
                        {% endif %}
                        {% if permisoUsuario.tipoPermiso == 3 %}
                        Prueba Premium
                        {% endif %}
                    </div>
                </div>
                <br>
            </div>
        </div>

    </div>
    {% endblock %}
</body>

</html>